
/*****************************
    Layout
*****************************/

/* section title */
.section-title {
	margin-bottom: 50px;

	.sub-title {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
	}

	.pre-title {
		font-size: 16px;
	}

	.title-shape {
		display: inline-block;
		width: 16px;

		&:before {
			content: "";
			background: $secondary;
			height: 20px;
			width: 8px;
			left: 0;
			top: 0;
			position: absolute;
		}

		&:after {
			content: "";
			background: $primary;
			height: 20px;
			width: 8px;
			left: 8px;
			top: 0;
			position: absolute;
		}

	}

	.dark-title {
		.title-shape {
			&:before {
				background-color: $white;
			}
		}		
	}

	.theme-title {
		.title-shape {
			&:after {
				background-color: $white;
			}
		}		
	}

}



/* About box */
.map iframe.contact-map {
 height: 620px;
 width: 100%;
 border:0;
}


.map-box {
	iframe {
		border:0;
		width: 100%;
		height: 200px;
	}
}

/* Load more */

.more-row {
	display:none;
}

/* Dark page */
.dark-page {
	background-color: $black;
}

