// Font family
$font-base: 		'Poppins', sans-serif;;
$font-hedding:	'Teko', sans-serif;

// Colors
$body-color:		#666666;
$primary:				#da1d25;
$secondary:			#000000;
$white:					#ffffff;
$gray-1: 				#f8f8f8; 	// bg light
$gray-2: 				#dfdfdf;
$gray-3: 				#666666; 	// body-text
$gray-4: 				#707173;
$gray-5: 				#3a4957;
$gray-6: 				#040404;
$gray-7: 				#0c0c0c;
$gray-8: 				#333333; 	// Hedding color
$gray-9: 				#18191c; 	// bg color
$black:  				#000000;
$success:				#0abb0a;
$danger:				#f52626;

$border-color: 	#ebebeb;

// For button and input border radius
$border-radius: 3px;
