/*****************************
  Team
*****************************/
.team {
	position: relative;

	.team-info {
		padding: 20px 36px;
		display: block;
		text-align: center;
		background:$secondary;
		.team-name{
			h5{
				a{
					color: $white;

					&:hover{
						color: $primary;
					}
				}
			}
			span{
				color: $white;
			}
		}
	}

	.share {
		margin-left: auto;

		.share-icon {
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			background: $secondary;
			color: $white;
			display: block;
		}

		.share-box {
			position: absolute;
			bottom: 75px;
			opacity: 0;
			visibility: hidden;
			transition: all 0.5s ease-in-out;

			li {
				margin-bottom: 7px;
				a {
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background: $primary;
					color: $white;
					display: block;

					&:hover {
						background: $secondary;
						color: $white;
					}

				}

			}

		}

	}

		&:hover {
			.share-box {
				opacity: 1;
				bottom: 100px;
				visibility: visible;
			}

		}

}
